<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Searching Videos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% for video in videos.result()['result'] %}
    <h1>{{ video['title'] }}</h1>
    <p> {{ video['id'] }} </p>
    <p> {{ video['viewCount']['short'] }} </p>
    <img src="{{ video['thumbnails'][0]['url'] }}"></img>
    {% endfor %}
</body>
  
</html>